__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
.venv/
env/
*.egg-info/
dist/
build/
.eggs/
public/uploads/*
!public/uploads/.gitkeep
# Logo mac dinh duoc seed vao DB -> phai co trong repo
!public/uploads/1716723927499-*.png
public/certificates/*
!public/certificates/.gitkeep
public/uploads/files/*
.pytest_cache/
